body {
  background-color: black;
}
h1 {
  color: white;
}
.ball {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  font-size: 20px;
  font-weight: bold;
  background-color: red;
}
.ball1 {
  /* transition: 1s; */
  width: 100px;
}
