body {
  background-color: black;
}
h1 {
  color: white;
}
.ball {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 100px auto; */
  border-radius: 50%;

  font-size: 20px;
  font-weight: bold;
  background-color: red;
}
.ball1 {
  margin: 100px auto;
  transition: 1s;
  height: 100px;
  width: 100px;
}
.ball2 {
  margin: 150px auto;
  transition: 1s;
  height: 100px;
  width: 100px;
}
